@import "tailwindcss";

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-BoldIta.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-MedIta.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-RegIta.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-ExtLt.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: "HelveticaNowDisplay", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer;
}
